<table>
    <thead>
        <tr tuiThGroup>
            <th tuiTh *ngFor="let col of columns">
                {{col | titlecase}}
            </th>
            <th tuiTh *ngIf="showActionCol">
                Actions
            </th>
        </tr>
    </thead>
    <tbody tuiTbody>
        <tr *ngFor="let item of data" tuiTr>
            <td *ngFor="let col of columns" tuiTd>
                {{item[col] ?? 'n/a' | titlecase}}
            </td>
            <td *ngIf="showActionCol">
                <button>Modifier</button>
            </td>
        </tr>
    </tbody>
</table>