app-table {
    table {
        min-width: 100%;
        text-align: center;
        overflow: scroll;
    }
    thead th {
        font-size: 1rem;
        color : var(--main-blue);
        min-width: 200px;
    }
    tbody td {
        color: var(--text-color);
    }

}