/* You can add global styles to this file, and also import other style files */
@import '~@taiga-ui/core/styles/taiga-ui-local';

/* Add application styles & imports to this file! */
body {
    --text-color: #1b1f3b;
    --bkg-color: #ffffff;
    --icon-color : #1b1f3b;
    --main-blue : #526ed3;
    --shadow-color: #92929233;
    --admin-menu : #f2f4f5;
    --admin-menu-hover: #e8eaec;
    --admin-menu-text: #65686b;
    --admin-menu-text-hover: #3b3d3e;
    --blue-bg: linear-gradient(71.63deg, #F2F2F2 -9.32%, #E0E3FF 103.77%);
    --tui-text-01: #1b1f3b;
    --tui-text-02: rgba(27, 31, 59, 0.65);
    --tui-text-03: rgba(27, 31, 59, 0.4);
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --icon-color : #ffffff;
    --main-blue : #526ed3;
    --shadow-color: #07070733;
    --admin-menu : #312f2f;
    --admin-menu-hover: #252222;
    --admin-menu-text: #eee;
    --admin-menu-text-hover: #ffffff;
    --blue-bg:#313131;
    --tui-text-01: #eee;
    --tui-text-02: rgba(238, 238, 238, 0.65);
    --tui-text-03: rgba(238, 238, 238, 0.4);
    --tui-base-01: #252222;
    --tui-base-02: #333;
    --tui-base-03: #5e5e5e;
    --tui-base-04: #959595;
    --tui-base-05: #b0b0b0;
    --tui-base-06: #d7d7d7;
    --tui-base-07: #ededed;
    --tui-base-08: #f6f6f6;
    --tui-base-09: #fff;
    --tui-elevation-01: #312f2f;
}  
body {
    background: var(--bkg-color);
}

h1,
p,
b, 
button {
    color: var(--text-color);
}
tui-tabs {
    button span {
        color: var(--text-color);
    }
}
tui-svg {
    color: var(--icon-color);
}
.button-s {
    height: 30px !important;
    width: 150px;
    font-size: 14px !important;
    tui-svg {
        color: white;
    }
}

.icon-btn {
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: var(--text-color);
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: var(--bkg-color);
}

.icon-btn:hover{
    background-color: var(--admin-menu);
}
.icon-btn:active{
    background-color: var(--admin-menu-text-hover);
    color: var(--bkg-color);
    transition: all 1s ease-out;
}