<div class="chat-box">
    <div class="contact-panel">
        <div class="search">
            <tui-input tuiTextfieldSize="s" icon="tuiIconSearchLarge" iconAlign="left">
                Chercher une conversation
            </tui-input>
        </div>
        <div class="conversation-list">
            <div class="conversation-item selected">
                <tui-avatar text="dmitry demensky" size="s" class="tui-space_top-1" [rounded]="true"></tui-avatar>
                Dmitry Demensky
            </div>
            <div class="conversation-item">
                <tui-avatar text="dmitry demensky" size="s" class="tui-space_top-1" [rounded]="true"></tui-avatar>
                Dmitry Demensky
            </div>
            <div class="conversation-item">
                <tui-avatar text="dmitry demensky" size="s" class="tui-space_top-1" [rounded]="true"></tui-avatar>
                Dmitry Demensky
            </div>
        </div>
        <div class="new-conv">
            <button tuiButton class="button-s">Nouvelle conversation</button>
        </div>
    </div>
    <div class="chat-panel">
        <div class="messages-list">
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message sender">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquam fugiat dolor
                modi libero ut, id obcaecati, alias minus, explicabo enim eveniet incidunt. Architecto at maxime
                accusamus earum, libero vitae.</p>
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message receiver">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message receiver">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message receiver">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message receiver">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message sender">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p class="message receiver">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="input">
            <tui-input tuiTextfieldSize="s" icon="tuiIconMailLarge" iconAlign="left">
                Écrivez votre message...
            </tui-input>
        </div>
    </div>
</div>