<div class="menu-flex">
    <div class="menu-items">
        <ul>
            <li>
                <a>
                    Accueil
                </a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Accueil</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <app-navbar></app-navbar>
        <ng-content></ng-content>
    </div>
</div>